.page {
  text-align: center;
  width: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)


}

.detail{
  
  color: #8142f5;
  background-color:white;
  display:flex;
  flex-direction: column;
  border-radius: 6px;
  width: 500px;
  justify-content: center;;
  align-items: center;
  
 
  
}
.detail img{
  width:15em;
  height:15em;
  border-radius: 6px;
  padding: 5px;
  background-color:  #8142f5;
}
button{
  padding: 5px;
  margin: 15px;
}

p{
  margin: 15px;
}
