.create{
  margin: 5px;
  padding: 5px;
  button{
    margin: 5px;
  }
  label{
    color: black;
  }
 
  
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.page{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form {

background-color: white;
border-radius: 10px;
opacity: 0.8;
width: 400px;
padding: 5px;
justify-content: center;
align-items: center;
  input{
    margin: 5px;
    width: 300px;
  }
  textarea{
    width: 300px;
    height: 100px;
    margin: 5px;
  }
  

  
}
