.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  padding-left: 140px;
  color: aqua;

  
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
Iframe{
  width: auto;
  height: auto;
  margin: 20px;
  padding: 10px;
  background-color: aqua;
  
}
