.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'News Cycle', sans-serif;
  padding-left: 140px;
  color: aqua;
 Iframe{
   margin: 20px;
   padding: 10px;
   background-color: aqua;
   
 }
  
}
