.display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  text-decoration: none;
  align-items: center;

  
}
p {
  text-align: center;
}
.card {
  padding:  10px;
  list-style: none;
  border-radius: 8px;
  margin: 5px;
  border: 1px solid #8142f5;
  background-color:white;
  color: #8142f5;
  text-decoration: none;
  height: auto;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
 

  
  
}
.card img{
  
  width:15em;
  height:15em;
  border-radius: 6px;
  padding: 5px;
  background-color: #8142f5


}
.loading {
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

