Header {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;


  img{
    width: 175px;
    height: auto;
  }
  button{
    background-color: red;
  }
}
.character{
  width: 75px;
  margin: 50px;

}

.add{
  height: 95px;
  width: auto;
  margin: 50px;
}
.twitter{
  img{
    width:75px;
  }
  a{
    color:white;
    text-decoration: none;
  }
}
