Header {
  background-color: black;
  height: 95px;
  width: 100%;
  
  display: flex;
  justify-content: space-around;;
  flex-direction: row;


  img{
    width: 175px;
    height: auto;
  }
}
.character{
  width: 75px;
  margin: 50px;

}

.add{
  width: 65px;
  margin: 50px;
}
